<div class="current-date">
  <% if @current_date %>
    <p class="current-date__text">Month: <%= @current_date.month %>, Week: <%= @current_date.week %>,
      Day: <%= @current_date.day %></p>
  <% end %>
  <%= button_to "Next day", next_day_heroes_game_calendar_path(@current_date.game_id), method: :post, class: "current-date__next-day-button" %>
</div>